.advantages {
  padding: 70px 0 65px;
  background-color: #f6f6f6;
  color: #0d0d0d;
}

.advantages__title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
}

.advantages__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.advantages__item-title {
  font-size: 18px;
  font-weight: 500;
  margin: 35px 0 20px;
}

.advantages__item-text {
  font-size: 14px;
  max-width: 265px;
  display: block;
}

.advantages__item-link {
  color: #ff0000;
  font-size: 14px;
  &:hover {
    color: inherit;
  }
}
