.consultation {
  padding: 102px 0 105px;
  background: url(../img/bgs/consultation__bg.jpg) center (center/cover)
    no-repeat;
}

.consultation__title {
  font-size: 36px;
  color: $white-color;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 8px;
  line-height: 1.5;
}

.consultation__descr {
  color: $white-color;
  max-width: 426px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.5;
  margin-bottom: 36px;
}
