@media (max-width: 660px) {
  .header__phone {
    font-size: 15px;
  }
  .header__logo {
    width: 200px;
  }
  .header__contacts {
    button {
      font-size: 10px;
      padding: 7.5px 9px 8px;
    }
  }
  .header__phone {
    font-size: 14px;
  }
  .header__official {
    font-size: 11px;
    width: 180px;
    span {
      font-size: 16px;
    }
  }
}

@media (max-width: 550px) {
  .header {
    top: 12px;
  }
  .header__logo {
    width: 185px;
  }
  .header__phone {
    font-size: 13px;
  }
  .header__contacts {
    button {
      font-size: 9px;
      padding: 4.5px 7px 5px;
    }
  }
  .header__official {
    width: 200px;
    font-size: 9px;
    span {
      font-size: 13px;
    }
  }
}

@media (max-width: 488px) {
  .header__official {
    width: 150px;
    span {
      font-size: 12px;
    }
  }
  .header__logo {
    width: 145px;
  }
  .header__phone {
    font-size: 11px;
  }
}

@media (max-width: 452px) {
  .header__contacts {
    button {
      padding: 3.5px 4px 4px;
    }
  }
  .header__phone {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .header__official {
    display: none;
  }
  .header__logo {
    width: 160px;
  }
  .header__phone {
    font-size: 12px;
  }
  .header__contacts {
    button {
      padding: 5.5px 6px 6px;
    }
  }
}
