@import "bootstrap-reboot";
@import "base/vars";
@import "base/mixins";
@import "libs/slick";

.container {
  max-width: 1000px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@import "blocks/buttons";
@import "blocks/forms";
@import "blocks/header";
@import "blocks/promo";
@import "blocks/advantages";
@import "blocks/consultation";
@import "blocks/catalogue";
@import "blocks/slider";
@import "media";
