@import "bootstrap-reboot";
@import "base/vars";
@import "base/mixins";

.container {
  max-width: 1000px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@import "blocks/buttons";
@import "blocks/header";
@import "blocks/promo";
